.App {
  text-align: center;
}

.main {
  min-height: calc(100vh - 50px - 100px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.qr__code {
  margin: 10px;
}

img {
  width: 50%
}

