.scan__button {
  margin: 15px;
  height: 150px;
  width: 400px;
  font-size: xx-large;
  font-weight: bolder;
  border-radius: 10px;
  background-color: #028579;
  color: white;
}

p:hover {
  color: blue;
  text-decoration: underline;
}